openapi: 3.2.0
info:
  title: MEXC Spot REST API v3 Rebate API
  description: MEXC Spot REST API (v3) providing programmatic access to spot trading, market data, account management, and wallet operations.
  version: 1.0.0
servers:
- url: https://api.mexc.com
tags:
- name: Rebate
paths:
  /api/v3/rebate/taxQuery:
    get:
      tags:
      - Rebate
      summary: Get Rebate History Records
      operationId: get_rebate_history_records
      parameters:
      - name: recvWindow
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
  /api/v3/rebate/detail:
    get:
      tags:
      - Rebate
      summary: Get Rebate Records Detail
      operationId: get_rebate_records_detail
      parameters:
      - name: recvWindow
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
  /api/v3/rebate/detail/kickback:
    get:
      tags:
      - Rebate
      summary: Get Self Rebate Records Detail
      operationId: get_self_rebate_records_detail
      parameters:
      - name: recvWindow
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
  /api/v3/rebate/referCode:
    get:
      tags:
      - Rebate
      summary: Query ReferCode
      operationId: query_refercode
      parameters:
      - name: recvWindow
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-MEXC-APIKEY
