openapi: 3.0.3
info:
  title: MEXC Futures REST API v1 Accounts and Transactions Spot Account/Trade API
  description: MEXC Futures REST API providing access to perpetual futures trading including order management, position management, and market data.
  version: 1.0.0
servers:
- url: https://contract.mexc.com
tags:
- name: Spot Account/Trade
paths:
  /api/v3/order/test:
    post:
      tags:
      - Spot Account/Trade
      summary: Test New Order
      operationId: test_new_order
      description: Test New Order
      parameters:
      - name: symbol
        in: query
        description: Symbol
        required: false
        schema:
          type: string
      - name: side
        in: query
        description: ENUM：Order Side
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: ENUM：Order Type
        required: false
        schema:
          type: string
      - name: quantity
        in: query
        description: Quantity
        required: false
        schema:
          type: string
      - name: price
        in: query
        description: Price
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
  /api/v3/order:
    post:
      tags:
      - Spot Account/Trade
      summary: New Order
      operationId: new_order
      description: New Order
      parameters:
      - name: symbol
        in: query
        description: Symbol
        required: false
        schema:
          type: string
      - name: side
        in: query
        description: ENUM：Order Side
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: 'ENUM：Order Type '
        required: false
        schema:
          type: string
      - name: quantity
        in: query
        description: Quantity
        required: false
        schema:
          type: string
      - name: price
        in: query
        description: Price
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
    delete:
      tags:
      - Spot Account/Trade
      summary: Cancel Orde
      operationId: cancel_orde
      description: Cancel Orde
      parameters:
      - name: symbol
        in: query
        description: Symbol
        required: false
        schema:
          type: string
      - name: orderId
        in: query
        description: Order id
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
    get:
      tags:
      - Spot Account/Trade
      summary: Query Order
      operationId: query_order
      description: Query Order
      parameters:
      - name: symbol
        in: query
        description: Symbol
        required: false
        schema:
          type: string
      - name: orderId
        in: query
        description: Order id
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
  /api/v3/openOrders:
    delete:
      tags:
      - Spot Account/Trade
      summary: Cancel all Open Orders on a Symbol
      operationId: cancel_all_open_orders_on_a_symbol
      description: Cancel all Open Orders on a Symbol
      parameters:
      - name: symbol
        in: query
        description: Symbol
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
    get:
      tags:
      - Spot Account/Trade
      summary: Current Open Orders
      operationId: current_open_orders
      description: Current Open Orders
      parameters:
      - name: symbol
        in: query
        description: Symbol
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
  /api/v3/allOrders:
    get:
      tags:
      - Spot Account/Trade
      summary: All Orders
      operationId: all_orders
      description: All Orders
      parameters:
      - name: symbol
        in: query
        description: Symbol
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
  /api/v3/account:
    get:
      tags:
      - Spot Account/Trade
      summary: Account Information
      operationId: account_information
      description: Account Information
      parameters:
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
  /api/v3/myTrades:
    get:
      tags:
      - Spot Account/Trade
      summary: Account Trade List
      operationId: account_trade_list
      description: Account Trade List
      parameters:
      - name: symbol
        in: query
        description: Symbol
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: recvWindow
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
  /api/v3/selfSymbols:
    get:
      tags:
      - Spot Account/Trade
      summary: Query Self Symbols
      operationId: query_self_symbols
      description: Query Self Symbols
      parameters:
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
  /api/v3/mxDeduct/enable:
    post:
      tags:
      - Spot Account/Trade
      summary: MxDeduct enable
      operationId: mxdeduct_enable
      description: MxDeduct enable
      parameters:
      - name: mxDeductEnable
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
    get:
      tags:
      - Spot Account/Trade
      summary: Query MxDeduct
      operationId: query_mxdeduct
      description: Query MxDeduct
      parameters:
      - name: timestamp
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: signature
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-MEXC-APIKEY
